{{>header}}
<title>CRUD - Create Record</title>
{{>navbar}}
<div class="container-fluid my-2">
    <div class="d-flex justify-content-between align-items-center bg-dark text-light p-2 rounded-5">
        <h5 class="m-0 text-center flex-grow-1">Create Record</h5>
        <a class="btn btn-success border border-dark text-light rounded-5" href="/">
            Home
        </a>
    </div>
    <form action="/add" class="border-0" method="post">
        <div class="row">
            <div class="col-12 mb-3">
                <label>Name*</label>
                <input type="text" name="name" placeholder="Full Name" value="{{data.name}}"
                    class=" form-control p-2 {{#if errorMessage.name}}border-danger{{else}}border-dark{{/if}}">
                {{#if errorMessage.name}}
                <p class="text-danger">{{errorMessage.name}}</p>
                {{/if}}
            </div>
            <div class="col-md-6 mb-3">
                <label>Email*</label>
                <input type="email" name="email" placeholder="Email Address" value="{{data.email}}"
                    class=" form-control p-2 {{#if errorMessage.email}}border-danger{{else}}border-dark{{/if}}">
                {{#if errorMessage.email}}
                <p class="text-danger">{{errorMessage.email}}</p>
                {{/if}}
            </div>
            <div class="col-md-6 mb-3">
                <label>Phone*</label>
                <input type="text" name="phone" placeholder="Phone No" value="{{data.phone}}"
                    class=" form-control p-2 {{#if errorMessage.phone}}border-danger{{else}}border-dark{{/if}}">
                {{#if errorMessage.phone}}
                <p class="text-danger">{{errorMessage.phone}}</p>
                {{/if}}
            </div>
            <div class="col-md-6 mb-3">
                <label>Branch*</label>
                <input type="text" name="branch" placeholder="Branch" value="{{data.branch}}"
                    class=" form-control p-2 {{#if errorMessage.branch}}border-danger{{else}}border-dark{{/if}}">
                {{#if errorMessage.branch}}
                <p class="text-danger">{{errorMessage.branch}}</p>
                {{/if}}
            </div>
            <div class="col-md-6 mb-3">
                <label>Semester*</label>
                <input type="text" name="sem" placeholder="Semester" value="{{data.sem}}"
                    class=" form-control p-2 {{#if errorMessage.sem}}border-danger{{else}}border-dark{{/if}}">
                {{#if errorMessage.sem}}
                <p class="text-danger">{{errorMessage.sem}}</p>
                {{/if}}
            </div>
            <div class="col-md-6 mb-3">
                <label>City</label>
                <input type="text" name="city" placeholder="City" value="{{data.city}}"
                    class=" form-control p-2 border-dark">
            </div>
            <div class="col-md-6 mb-3">
                <label>State</label>
                <input type="text" name="state" placeholder="State" value="{{data.state}}"
                    class=" form-control p-2 border-dark">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-dark rounded-5 text-light w-100 p-2 mt-5 mb-5"><h5 class="m-0 text-center flex-grow-1">Create</h5></button>
            </div>
        </div>
    </form>
</div>
{{>footer}}